body        {background-color: rgb(236, 236, 236); color: rgb(0, 0, 0); font-size: larger;}

a           {text-decoration: none; color: rgb(255, 255, 255);}

.div-menu   {background-color: rgb(255, 53, 39); list-style-type: none; width: 60%; height: 5%;
            position: sticky; display:flex; justify-content: center; padding-left: 20%;
            background-clip: content-box;}

.div-main   {padding-left: 20%; padding-right: 20%; padding-top: 5%;}

.menu       {list-style-type: none; text-align: center; line-height: 3; margin: 0; position: absolute;
            top: 33%; -ms-transform: translateY(-50%); transform: translateY(-50%);
            word-spacing: 100px; padding-top: 15px;}

li          {margin: 3%;}
