body        {background-color: rgb(236, 236, 236); color: rgb(0, 0, 0); font-size: 1vw;}

a           {text-decoration: none; color: rgb(0, 0, 0);}

.div-menu   {background-color: rgb(255, 53, 39); list-style-type: none; width: 60vw; height: 5vw;
            position: sticky; display:flex; justify-content: center; padding-left: 20vw;
            background-clip: content-box;}

.div-main   {padding-left: 20vw; padding-right: 20vw; padding-top: 5vw;}

.menu       {list-style-type: none; text-align: center; line-height: 3; margin: 0; position: absolute;
            top: 33%; -ms-transform: translateY(-50%); transform: translateY(-50%);
            word-spacing: 2vw; padding-top: 1vw;}

li          {margin: 1vw; word-spacing: normal;}
